<ion-header>
    <ion-toolbar>
        <div>
            <span><ion-icon name="people-outline"></ion-icon> </span>
            <h1>{{ 'teachers_management' | translate }}</h1>
        </div>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="refresh()">
                <ion-icon name="refresh-outline"></ion-icon> &nbsp; {{ 'reload' | translate }}
            </ion-button>
            &nbsp;

            <ion-button (click)="toggleFilterForm()">
                <ng-container *ngIf="!showFilterForm">
                    <ion-icon name="eye-outline"></ion-icon> &nbsp; {{ 'showFilterButtonLabel' | translate }}
                </ng-container>
                <ng-container *ngIf="showFilterForm">
                    <ion-icon name="eye-off-outline"></ion-icon> &nbsp; {{ 'hideFilterButtonLabel' | translate }}
                </ng-container>
            </ion-button>

            &nbsp;
            <ion-button fill="clear" (click)="toggleForm()">
                <ng-container *ngIf="!showForm">
                    <ion-icon name="person-add-outline"></ion-icon> &nbsp; {{ 'add_teacher' | translate }}
                </ng-container>
                <ng-container *ngIf="showForm">
                    <ion-icon name="eye-off-outline"></ion-icon> &nbsp; {{ 'hide_form' | translate }}
                </ng-container>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="form-enrollment" *ngIf="showForm">
    <div class="form-header">
        <h1>{{ 'addTeacherTitle' | translate }}</h1>
        <p>{{ 'addTeacherDescription' | translate }}</p>
    </div>
    <form [formGroup]="teacherForm" (ngSubmit)="submitTeacherForm()" novalidate>
        <app-profile-picture [fileBase64]="teacherForm.get('thumbnail')?.value"
            (fileBase64Selected)="handleFileSelected($event)"></app-profile-picture>

        <div class="form-row">
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'firstNameLabel' | translate }}</ion-label>
                <ion-input formControlName="firstName" placeholder="{{ 'enterFirstNamePlaceholder' | translate }}"
                    type="text" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'lastNameLabel' | translate }}</ion-label>
                <ion-input formControlName="lastName" placeholder="{{ 'enterLastNamePlaceholder' | translate }}"
                    type="text" ngDefaultControl></ion-input>
            </ion-item>
        </div>

        <div class="form-row">
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'emailLabel' | translate }}</ion-label>
                <ion-input formControlName="email" placeholder="{{ 'enterEmailPlaceholder' | translate }}" type="email"
                    ngDefaultControl></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'birthDateLabel' | translate }}</ion-label>
                <ion-input formControlName="birthDate" placeholder="{{ 'selectBirthDatePlaceholder' | translate }}"
                    type="date" ngDefaultControl></ion-input>
            </ion-item>
        </div>

        <ion-item lines="full">
            <ion-label>{{ 'genderLabel' | translate }}</ion-label>
            <ion-select formControlName="gender" placeholder="{{ 'selectGenderPlaceholder' | translate }}">
                <ion-select-option value="true">{{ 'maleOption' | translate }}</ion-select-option>
                <ion-select-option value="false">{{ 'femaleOption' | translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full">
            <ion-select formControlName="establishment" label="{{ 'establishmentLabel' | translate }}"
                placeholder="{{ 'selectEstablishmentPlaceholder' | translate }}">
                <ion-select-option *ngFor="let establishment of establishments" [value]="establishment">{{ establishment.name | translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full">
            <ion-select formControlName="department" label="{{ 'departmentLabel' | translate }}"
                placeholder="{{ 'selectDepartmentPlaceholder' | translate }}">
                <ion-select-option *ngFor="let department of departments" [value]="department">{{ department.name |
                    translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full">
            <ion-label>{{ 'legalIdTypeLabel' | translate }}</ion-label>
            <ion-select formControlName="legalIdType" placeholder="{{ 'selectLegalIdTypePlaceholder' | translate }}">
                <ion-select-option *ngFor="let legalIdType of legalIdTypes" [value]="legalIdType">{{ legalIdType.name |
                    translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <div class="form-row">
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'legalIdNumberLabel' | translate }}</ion-label>
                <ion-input formControlName="legalIdNumber"
                    placeholder="{{ 'enterLegalIdNumberPlaceholder' | translate }}" type="text"
                    ngDefaultControl></ion-input>
            </ion-item>
        </div> 

        <ion-item lines="full">
            <ion-label>{{ 'citizenshipLabel' | translate }}</ion-label>
            <ion-select formControlName="citizenship" placeholder="{{ 'selectCitizenshipPlaceholder' | translate }}">
                <ion-select-option *ngFor="let country of countries" [value]="country">{{ country.name | translate
                    }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full" *ngIf="selectedCountry && selectedCountry.cities">
            <ion-label>{{ 'cityLabel' | translate }}</ion-label>
            <ion-select formControlName="city" placeholder="{{ 'selectCityPlaceholder' | translate }}">
                <ion-select-option *ngFor="let city of selectedCountry.cities" [value]="city">{{ city.name | translate
                    }}</ion-select-option>
            </ion-select>
        </ion-item>

        <div class="form-buttons">
            <ion-button fill="outline" (click)="toggleForm()">
                <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
                &nbsp; {{ 'cancelButtonLabel' | translate }}
            </ion-button>
            <ion-button type="submit">
                <ion-icon name="send-outline" slot="end"></ion-icon>
                {{ 'saveButtonLabel' | translate }} &nbsp;
            </ion-button>
        </div>

    </form>
</div>

<div class="form-enrollment" *ngIf="showFilterForm">

    <div class="form-header">
        <h1>{{ 'filterTeachersTitle' | translate }}</h1>
        <p>{{ 'filterDescription' | translate }}</p>
    </div>

    <form [formGroup]="filterForm" (ngSubmit)="submitFilterForm()" novalidate>

        <div class="form-row">
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'firstNameLabel' | translate }}</ion-label>
                <ion-input formControlName="firstName" placeholder="{{ 'enterFirstNamePlaceholder' | translate }}"
                    type="text" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'lastNameLabel' | translate }}</ion-label>
                <ion-input formControlName="lastName" placeholder="{{ 'enterLastNamePlaceholder' | translate }}"
                    type="text" ngDefaultControl></ion-input>
            </ion-item>
        </div>

        <div class="form-row">
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'usernameLabel' | translate }}</ion-label>
                <ion-input formControlName="username" placeholder="{{ 'usernameLabelPlaceholder' | translate }}"
                    type="text" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked">{{ 'legalIdNumberLabel' | translate }}</ion-label>
                <ion-input formControlName="legalIdNumber"
                    placeholder="{{ 'enterLegalIdNumberPlaceholder' | translate }}" type="text"
                    ngDefaultControl></ion-input>
            </ion-item>
        </div>

        <div class="form-buttons">
            <div>
                <ion-button fill="outline" (click)="toggleFilterForm()">
                    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
                    &nbsp; {{ 'cancelButtonLabel' | translate }}
                </ion-button>
                &nbsp;
                <ion-button fill="outline" (click)="clearFilter()">
                    <ion-icon name="sync-circle-outline" slot="start"></ion-icon>
                    &nbsp; {{ 'clearFilter' | translate }}
                </ion-button>
            </div>

            <ion-button type="submit">
                <ion-icon name="send-outline" slot="end"></ion-icon>
                {{ 'submitFilterLabel' | translate }} &nbsp;
            </ion-button>
        </div>
    </form>
</div>


<div class="table-container" *ngIf="teachersResponse && teachersResponse.content && teachersResponse.content.length !== 0">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'firstNameLabel' | translate }}</th>
                    <th>{{ 'lastNameLabel' | translate }}</th>
                    <th>{{ 'usernameLabel' | translate }}</th>
                    <th>{{ 'birthDateLabel' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachersResponse.content">
                    <td>
                        <img alt="" [src]="teacher.thumbnail" />
                    </td>
                    <td>{{ teacher.firstName }}</td>
                    <td>{{ teacher.lastName }}</td>
                    <td>{{ teacher.username }}</td>
                    <td>{{ teacher.birthDate }}</td>
                    <td>
                        <ion-button color="primary" fill="clear">
                            {{ 'moreDetailsLabel' | translate }} &nbsp; <ion-icon
                                name="arrow-forward-outline"></ion-icon>
                        </ion-button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="paggination">
        <ion-button fill="solid" (click)="paginate('prev')"> <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <p>Page {{ teachersResponse.number+1 }} of {{ teachersResponse.totalPages }}</p>
        <ion-button fill="solid" (click)="paginate('next')"> <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
    </div>
</div>