<div class="card-modal">
  <a class="open-forward">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </a>
  <ion-thumbnail>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>
  <div class="project-intro">
    <div>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    <p> 
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </p>
    <ion-button shape="round"><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-button>
  </div>
</div>