<div class="modal-header">
  <span class="close-button" (click)="closeModal()">
    <ion-icon name="close-outline"></ion-icon>
  </span>
</div>

<div class="form-container">
  <div class="form-header">
    <h1>{{ 'academicProgramRegistrationTitle' | translate }}</h1>
    <p>{{ 'academicProgramsRegistrationDescription' | translate }}</p>
  </div>

  <form [formGroup]="academicProgramForm" (ngSubmit)="submitForm()" novalidate>

    <div class="form-controls">
      <ion-item lines="full">
        <ion-label position="stacked">{{ 'codeLabel' | translate }}</ion-label>
        <ion-input formControlName="code" placeholder="{{ 'enterCodePlaceholder' | translate }}" type="text" ngDefaultControl></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">{{ 'nameLabel' | translate }}</ion-label>
        <ion-input formControlName="name" placeholder="{{ 'enterNamePlaceholder' | translate }}" type="text" ngDefaultControl></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">{{ 'descriptionLabel' | translate }}</ion-label>
        <ion-textarea rows="4" formControlName="description" placeholder="{{ 'enterDescriptionPlaceholder' | translate }}" type="text"
          ngDefaultControl></ion-textarea>
      </ion-item>

      <ion-item lines="full">
        <ion-select formControlName="degree" label="{{ 'degreeLabel' | translate }}"
            placeholder="{{ 'selectDegreePlaceholder' | translate }}">
            <ion-select-option *ngFor="let degree of degrees" [value]="degree">{{ degree.name |
                translate }}</ion-select-option>
        </ion-select>
    </ion-item>

    </div>

    <div class="form-buttons">
      <ion-button type="submit">
        <ion-icon name="send-outline" slot="end"></ion-icon>
        {{ 'saveButtonLabel' | translate }} &nbsp;
      </ion-button>
    </div>

  </form>
</div>
